<div class="container text-center">
  <h1 class="h1_home">Les biens publics <strong>enfin disponibles</strong> à <strong>la location</strong> !</h1>
  <p class="p_home">Accédez à des biens d'exception pour tous vos usages de manière simplifiée.</p>
</div>

<div class="banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://foncierpublic.com/wp-content/uploads/2019/08/undraw_best_place_r685-removebg-preview-1.png);">
   <%= link_to  'Je mets un bien en location', new_owner_flat_path, class: "btn btn-ghost btn-border-red float-md-left"  %>
  <%= link_to "Je recherche un bien à louer", flats_path, class: "btn btn-ghost btn-border-blue float-md-right"  %>
</div>

<div class="container">
</div>
