.banner {
  background-size: 800px;
  background-position: center;
  padding: 230px ;
  background-repeat: no-repeat;
}

.banner h1 {
  position: top;
  margin: 0;
  color: rgb(255, 101, 132);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;

}

.banner p {
  font-size: 20px;
  color: rgb(255, 101, 132);
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
