.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  justify-content: space-around;

  &:hover {
    opacity: 1;
  }
  &.btn-hover-green:hover {
    color: rgb(0,255,0);
    border-color: rgb(0,255,0);
  }
}


.btn-border-blue {
  border: 1px solid rgb(98, 212, 210);
  color: rgb(98, 212, 210);

  &:hover {
   color: rgb(98, 212, 210)
  }
}

.btn-border-red {
  border: 1px solid rgb(255, 101, 132);
  color: rgb(255, 101, 132);

  &:hover {
    color: rgb(255, 101, 132)
  }
}


.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

// CUSTOM

.btn-success {
  margin: 15px 0px;
}

.btn-primary-flat {
  margin-bottom: 15px;
}

.btn-primary-flat-show {
  width: 100px;
  margin-bottom: 15px;
}

.btn-primary-owner-reservations{
  width: 120px;
  margin-bottom: 15px;
}

.btn-light-ghost {
  color: #333533;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: light;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  justify-content: space-around;

  &:hover {
    opacity: 1;
  }
}



