.h1-red {
  margin: 0;
  color: rgb(255, 101, 132);
  text-shadow: 1px 1px 3px rgba(0,0,0,0);
  font-size: 32px;
  font-weight: bold;
}

.h1-blue {
  margin: 0;
  color: rgb(98, 212, 210);
  text-shadow: 1px 1px 3px rgba(0,0,0,0);
  font-size: 32px;
  font-weight: bold;
}
