.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-bottom: 20px
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 180px;
  margin-top: 10px;
}

.navbar-nav {
  align-items: center;
}

.dropdown {
  padding-left: 25px;
}
