.card-flats-index{
display: flex;
justify-content: center;
align-items: center;
padding-top: 15px;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-disposition{
display: inline-table;
  width: 100px;
  height: 100px;
}

